---
title: "Ed Stats EDA"
author: "Tiana Le"
date: "2/19/2024"
draft: true
---

# READ ME

Please download the Education Data locally to run this notebook on your computer. (The Education Data was too large for git commit.)

https://drive.google.com/drive/folders/1DMgypB9L6VsSHt2jGA4cKqAYOjkuN3Sx?usp=drive_link

In [217]:
import pandas as pd
import numpy as np

https://datacatalog.worldbank.org/search/dataset/0038480/education-statistics

In [218]:
ed = pd.read_csv('../../EdStats_CSV/EdStatsData.csv')
print(ed.head())

                                      Indicator Name
0  Adjusted net enrolment rate, lower secondary, ...
1  Adjusted net enrolment rate, lower secondary, ...
2  Adjusted net enrolment rate, lower secondary, ...
3  Adjusted net enrolment rate, lower secondary, ...
4  Adjusted net enrolment rate, primary, both sex...

In [219]:
indicator_counts = ed['Indicator Name'].nunique()

print(indicator_counts)

3665

In [220]:
print(ed.shape)

(3665, 1)

In [221]:
indicator_values = ed['Indicator Name'].unique()

print(indicator_values[:10])
print(indicator_values[10:20])
print(indicator_values[20:30])

indicator_values = indicator_values[:30]

['Adjusted net enrolment rate, lower secondary, both sexes (%)'
 'Adjusted net enrolment rate, lower secondary, female (%)'
 'Adjusted net enrolment rate, lower secondary, gender parity index (GPI)'
 'Adjusted net enrolment rate, lower secondary, male (%)'
 'Adjusted net enrolment rate, primary, both sexes (%)'
 'Adjusted net enrolment rate, primary, female (%)'
 'Adjusted net enrolment rate, primary, gender parity index (GPI)'
 'Adjusted net enrolment rate, primary, male (%)'
 'Adjusted net enrolment rate, upper secondary, both sexes (%)'
 'Adjusted net enrolment rate, upper secondary, female (%)']
['Adjusted net enrolment rate, upper secondary, gender parity index (GPI)'
 'Adjusted net enrolment rate, upper secondary, male (%)'
 'Adjusted net intake rate to Grade 1 of primary education, both sexes (%)'
 'Adjusted net intake rate to Grade 1 of primary education, female (%)'
 'Adjusted net intake rate to Grade 1 of primary education, gender parity index (GPI)'
 'Adjusted net intake rate to Grade 1 of primary education, male (%)'
 'Adult illiterate population, 15+ years, % female'
 'Adult illiterate population, 15+ years, both sexes (number)'
 'Adult illiterate population, 15+ years, female (number)'
 'Adult illiterate population, 15+ years, male (number)']
['Adult literacy rate, population 15+ years, both sexes (%)'
 'Adult literacy rate, population 15+ years, female (%)'
 'Adult literacy rate, population 15+ years, gender parity index (GPI)'
 'Adult literacy rate, population 15+ years, male (%)'
 'Africa Dataset: Average number of grades per multigrade class in primary schools (number of grades)'
 'Africa Dataset: Average number of pupils per mathematics textbook in Grade 1 of primary education (number)'
 'Africa Dataset: Average number of pupils per mathematics textbook in Grade 2 of primary education (number)'
 'Africa Dataset: Average number of pupils per mathematics textbook in Grade 3 of primary education (number)'
 'Africa Dataset: Average number of pupils per mathematics textbook in Grade 4 of primary education (number)'
 'Africa Dataset: Average number of pupils per mathematics textbook in Grade 5 of primary education (number)']

In [222]:
primary = ed[ed["Indicator Name"]=="Adjusted net enrolment rate, primary, gender parity index (GPI)"]

tidy_primary = pd.melt(primary, id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'],
                  var_name='Year', value_name='Value')
tidy_primary = tidy_primary.dropna()

year_unique = tidy_primary['Year'].unique()
print(tidy_primary.head())
print(tidy_primary.shape)
print(year_unique)

KeyError: "The following 'id_vars' are not present in the DataFrame: ['Country Code', 'Country Name', 'Indicator Code']"

In [ ]:
# function to tidy data
variable = ""
def convert_to_tidy(df, variable):
    # Filter the DataFrame for the desired indicator
    ed_level = df[df["Indicator Name"] == variable]
    
    # Melt the filtered DataFrame
    tidy_ed_level = pd.melt(ed_level, id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'],
                           var_name='Year', value_name='Value')
    
    # drop Country Name for now
    tidy_ed_level.drop('Indicator Name', axis=1, inplace=True)
    tidy_ed_level.drop('Indicator Code', axis=1, inplace=True)
    tidy_ed_level.drop('Country Name', axis=1, inplace=True)

    # Drop rows with NA values
    tidy_ed_level = tidy_ed_level.dropna()

    # Convert to year to numeric
    tidy_ed_level['Year'] = pd.to_numeric(tidy_ed_level['Year'])
    
    # Get unique years
    year_unique = tidy_ed_level['Year'].unique()
    
    # Print the head, shape, and unique years
    print(tidy_ed_level.head())
    print(tidy_ed_level.shape)
    print(year_unique)

    return(tidy_ed_level)

lower_second = "Adjusted net enrolment rate, lower secondary, gender parity index (GPI)"
lower_second = convert_to_tidy(ed, lower_second)

    Country Code  Year    Value
71           CRI  1970  1.07246
178          PER  1970  0.83623
269          DZA  1971  0.45049
292          BWA  1971  1.25097
301          CMR  1971  0.46995
(2248, 3)
[1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983
 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997
 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015]

In [ ]:
print(indicator_values[0])

Adjusted net enrolment rate, lower secondary, both sexes (%)

In [ ]:
selected_variables = ["Adjusted net enrolment rate, lower secondary, both sexes (%)","Adjusted net enrolment rate, lower secondary, female (%)","Adjusted net enrolment rate, lower secondary, gender parity index (GPI)","Adjusted net enrolment rate, lower secondary, male (%)","Adjusted net enrolment rate, primary, both sexes (%)","Adjusted net enrolment rate, primary, female (%)","Adjusted net enrolment rate, primary, gender parity index (GPI)","Adjusted net enrolment rate, primary, male (%)","Adjusted net enrolment rate, upper secondary, both sexes (%)","Adjusted net enrolment rate, upper secondary, female (%)","Adjusted net enrolment rate, upper secondary, gender parity index (GPI)","Adjusted net enrolment rate, upper secondary, male (%)","Adjusted net intake rate to Grade 1 of primary education, both sexes (%)","Adjusted net intake rate to Grade 1 of primary education, female (%)","Adjusted net intake rate to Grade 1 of primary education, gender parity index (GPI)","Adjusted net intake rate to Grade 1 of primary education, male (%)","Adult illiterate population, 15+ years, % female","Adult illiterate population, 15+ years, both sexes (number)","Adult illiterate population, 15+ years, female (number)","Adult illiterate population, 15+ years, male (number)","Adult literacy rate, population 15+ years, both sexes (%)","Adult literacy rate, population 15+ years, female (%)","Adult literacy rate, population 15+ years, gender parity index (GPI)","Adult literacy rate, population 15+ years, male (%)","Expenditure on education as % of total government expenditure (%)","Expenditure on education not allocated by level as % of government expenditure on education (%)","Expenditure on lower secondary as % of government expenditure on education (%)","Expenditure on lower secondary as % of total government expenditure (%)","Expenditure on post-secondary non-tertiary as % of government expenditure on education (%)","Expenditure on post-secondary non-tertiary as % of total government expenditure (%)","Expenditure on pre-primary as % of government expenditure on education (%)","Expenditure on pre-primary as % of total government expenditure (%)","Expenditure on primary as % of government expenditure on education (%)","Expenditure on primary as % of total government expenditure (%)","Expenditure on secondary and post-secondary non-tertiary vocational as % of government expenditure on education (%)","Expenditure on secondary and post-secondary non-tertiary vocational education as % of total government expenditure (%)","Expenditure on secondary as % of government expenditure on education (%)","Expenditure on secondary as % of total government expenditure (%)","Expenditure on tertiary as % of government expenditure on education (%)","Expenditure on tertiary as % of total government expenditure (%)","Expenditure on upper secondary as % of government expenditure on education (%)","Expenditure on upper secondary as % of total government expenditure (%)","GDP at market prices (constant 2005 US$)","GDP at market prices (current US$)","GDP per capita (constant 2005 US$)","GDP per capita (current US$)","GDP per capita, PPP (constant 2011 international $)","GDP per capita, PPP (current international $)","GDP, PPP (constant 2011 international $)","GDP, PPP (current international $)","GNI (current US$)","GNI per capita, Atlas method (current US$)","GNI per capita, PPP (current international $)","GNI, PPP (current international $)","Government expenditure in educational institutions as % of GDP (%)","Government expenditure in post-secondary non-tertiary institutions as % of GDP (%)","Government expenditure in pre-primary institutions as % of GDP (%)","Government expenditure in primary institutions as % of GDP (%)","Government expenditure in secondary institutions education as % of GDP (%)","Government expenditure in tertiary institutions as % of GDP (%)","Government expenditure on education as % of GDP (%)","Government expenditure on post-secondary non-tertiary education as % of GDP (%)","Government expenditure on pre-primary education as % of GDP (%)","Government expenditure on primary education as % of GDP (%)","Government expenditure on secondary and post-secondary non-tertiary vocational education as % of GDP (%)","Government expenditure on secondary education as % of GDP (%)","Government expenditure on tertiary education as % of GDP (%)","Government expenditure per lower secondary student (constant PPP$)","Government expenditure per lower secondary student (constant US$)","Government expenditure per lower secondary student (PPP$)","Government expenditure per lower secondary student (US$)","Government expenditure per lower secondary student as % of GDP per capita (%)","Government expenditure per post-secondary non-tertiary student (constant PPP$)","Government expenditure per post-secondary non-tertiary student (constant US$)","Government expenditure per post-secondary non-tertiary student (PPP$)","Government expenditure per post-secondary non-tertiary student (US$)","Government expenditure per post-secondary non-tertiary student as % of GDP per capita (%)","Labor force with advanced education (% of total)","Labor force with advanced education, female (% of female labor force)","Labor force with advanced education, male (% of male labor force)","Labor force with basic education (% of total)","Labor force with basic education, female (% of female labor force)","Labor force with basic education, male (% of male labor force)","Labor force with intermediate education (% of total)","Labor force with intermediate education, female (% of female labor force)","Labor force with intermediate education, male (% of male labor force)","Labor force, female (% of total labor force)","Labor force, total","Percentage of female graduates from tertiary education graduating from Agriculture programmes, female (%)","Percentage of female graduates from tertiary education graduating from Education programmes, female (%)","Percentage of female graduates from tertiary education graduating from Engineering, Manufacturing and Construction programmes, female (%)","Percentage of female graduates from tertiary education graduating from Health and Welfare programmes, female (%)","Percentage of female graduates from tertiary education graduating from Humanities and Arts programmes, female (%)","Percentage of female graduates from tertiary education graduating from programmes in unspecified fields, female (%)","Percentage of female graduates from tertiary education graduating from Science programmes, female (%)","Percentage of female graduates from tertiary education graduating from Services programmes, female (%)","Percentage of female graduates from tertiary education graduating from Social Sciences, Business and Law programmes, female (%)","Percentage of female students enrolled in primary education who are over-age, female (%)","Percentage of female students enrolled in primary education who are under-age, female (%)","Percentage of female students in lower secondary education enrolled in general programmes, female (%)","Percentage of female students in lower secondary education enrolled in vocational programmes, female (%)","Percentage of female students in post-secondary non-tertiary education enrolled in general programmes, female (%)","Percentage of female students in post-secondary non-tertiary education enrolled in vocational programmes, female (%)","Percentage of female students in secondary education enrolled in general programmes, female (%)","Percentage of female students in secondary education enrolled in vocational programmes, female (%)","Percentage of female students in tertiary education enrolled in Agriculture programmes, female (%)","Percentage of female students in tertiary education enrolled in Education programmes, female (%)","Percentage of female students in tertiary education enrolled in Engineering, Manufacturing and Construction programmes, female (%)","Percentage of female students in tertiary education enrolled in Health and Welfare programmes, female (%)","Percentage of female students in tertiary education enrolled in Humanities and Arts programmes, female (%)","Percentage of female students in tertiary education enrolled in programmes in unspecified fields, female (%)","Percentage of female students in tertiary education enrolled in Science programmes, female (%)","Percentage of female students in tertiary education enrolled in Services programmes, female (%)","Percentage of female students in tertiary education enrolled in Social Sciences, Business and Law programmes, female (%)","Percentage of female students in upper secondary education enrolled in general programmes, female (%)","Percentage of female students in upper secondary education enrolled in vocational programmes, female (%)","Percentage of female teachers in lower secondary education who are trained, female (%)","Percentage of female teachers in post-secondary non-tertiary education who are trained, female (%)","Percentage of female teachers in pre-primary education who are trained, female (%)","Percentage of female teachers in primary education who are trained, female (%)","Percentage of female teachers in secondary education who are trained, female (%)","Percentage of female teachers in upper secondary education who are trained, female (%)","Percentage of graduates from Agriculture programmes in tertiary education who are female (%)","Percentage of graduates from Education programmes in tertiary education who are female (%)","Percentage of graduates from Engineering, Manufacturing and Construction programmes in tertiary education who are female (%)","Percentage of graduates from Health and Welfare programmes in tertiary education who are female (%)","Percentage of graduates from Humanities and Arts programmes in tertiary education who are female (%)","Percentage of graduates from non-science and non-technology fields in tertiary education who are female (%)","Percentage of graduates from programmes in unspecified fields in tertiary education who are female (%)","Percentage of graduates from Science and Technology programmes in tertiary education who are female (%)","Percentage of graduates from Science programmes in tertiary education who are female (%)","Percentage of graduates from Services programmes in tertiary education who are female (%)","Percentage of graduates from Social Sciences, Business and Law programmes in tertiary education who are female (%)","Percentage of graduates from tertiary education graduating from Agriculture programmes, both sexes (%)","Percentage of graduates from tertiary education graduating from Education programmes, both sexes (%)","Percentage of graduates from tertiary education graduating from Engineering, Manufacturing and Construction programmes, both sexes (%)","Percentage of graduates from tertiary education graduating from Health and Welfare programmes, both sexes (%)","Percentage of graduates from tertiary education graduating from Humanities and Arts programmes, both sexes (%)","Percentage of graduates from tertiary education graduating from programmes in unspecified fields, both sexes (%)","Percentage of graduates from tertiary education graduating from Science programmes, both sexes (%)","Percentage of graduates from tertiary education graduating from Services programmes, both sexes (%)","Percentage of graduates from tertiary education graduating from Social Sciences, Business and Law programmes, both sexes (%)","Percentage of graduates from tertiary education who are female (%)","Percentage of male graduates from tertiary education graduating from Agriculture programmes, male (%)","Percentage of male graduates from tertiary education graduating from Education programmes, male (%)","Percentage of male graduates from tertiary education graduating from Engineering, Manufacturing and Construction programmes, male (%)","Percentage of male graduates from tertiary education graduating from Health and Welfare programmes, male (%)","Percentage of male graduates from tertiary education graduating from Humanities and Arts programmes, male (%)","Percentage of male graduates from tertiary education graduating from programmes in unspecified fields, male (%)","Percentage of male graduates from tertiary education graduating from Science programmes, male (%)","Percentage of male graduates from tertiary education graduating from Services programmes, male (%)","Percentage of male graduates from tertiary education graduating from Social Sciences, Business and Law programmes, male (%)","Percentage of male students in secondary education enrolled in general programmes, male (%)","Percentage of male students in secondary education enrolled in vocational programmes, male (%)","Percentage of male students in tertiary education enrolled in Agriculture programmes, male (%)","Percentage of male students in tertiary education enrolled in Education programmes, male (%)","Percentage of male students in tertiary education enrolled in Engineering, Manufacturing and Construction programmes, male (%)","Percentage of male students in tertiary education enrolled in Health and Welfare programmes, male (%)","Percentage of male students in tertiary education enrolled in Humanities and Arts programmes, male (%)","Percentage of students enrolled in Agriculture programmes in tertiary education who are female (%)","Percentage of students enrolled in Education programmes in tertiary education who are female (%)","Percentage of students enrolled in Engineering, Manufacturing and Construction programmes in tertiary education who are female (%)","Percentage of students enrolled in Health and Welfare programmes in tertiary education who are female (%)","Percentage of students enrolled in Humanities and Arts programmes in tertiary education who are female (%)","Percentage of students enrolled in primary education who are over-age, both sexes (%)","Percentage of students enrolled in primary education who are under-age, both sexes (%)","Percentage of students enrolled in programmes in unspecified fields in tertiary education who are female (%)","Percentage of students enrolled in Science programmes in tertiary education who are female (%)","Percentage of students enrolled in Services programmes in tertiary education who are female (%)","Percentage of students enrolled in Social Sciences, Business and Law programmes in tertiary education who are female (%)","UIS: Adjusted net attendance rate, primary, both sexes (%)","UIS: Adjusted net attendance rate, primary, female (%)","UIS: Adjusted net attendance rate, primary, fourth quintile, both sexes (%)","UIS: Adjusted net attendance rate, primary, fourth quintile, female (%)","UIS: Adjusted net attendance rate, primary, fourth quintile, gender parity index (GPI)","UIS: Adjusted net attendance rate, primary, fourth quintile, male (%)","UIS: Adjusted net attendance rate, primary, gender parity index (GPI)","UIS: Adjusted net attendance rate, primary, male (%)","UIS: Adjusted net attendance rate, primary, middle quintile, both sexes (%)","UIS: Adjusted net attendance rate, primary, middle quintile, female (%)","UIS: Adjusted net attendance rate, primary, middle quintile, gender parity index (GPI)","UIS: Adjusted net attendance rate, primary, middle quintile, male (%)","UIS: Adjusted net attendance rate, primary, poorest quintile, both sexes (%)","UIS: Adjusted net attendance rate, primary, poorest quintile, female (%)","UIS: Adjusted net attendance rate, primary, poorest quintile, gender parity index (GPI)","UIS: Adjusted net attendance rate, primary, poorest quintile, male (%)","UIS: Adjusted net attendance rate, primary, richest quintile, both sexes (%)","UIS: Adjusted net attendance rate, primary, richest quintile, female (%)","UIS: Adjusted net attendance rate, primary, richest quintile, gender parity index (GPI)","UIS: Adjusted net attendance rate, primary, richest quintile, male (%)","UIS: Adjusted net attendance rate, primary, rural, both sexes (%)","UIS: Adjusted net attendance rate, primary, rural, female (%)","UIS: Adjusted net attendance rate, primary, rural, gender parity index (GPI)","UIS: Adjusted net attendance rate, primary, rural, male (%)","UIS: Adjusted net attendance rate, primary, second quintile, both sexes (%)","UIS: Adjusted net attendance rate, primary, second quintile, female (%)","UIS: Adjusted net attendance rate, primary, second quintile, gender parity index (GPI)","UIS: Adjusted net attendance rate, primary, second quintile, male (%)","UIS: Adjusted net attendance rate, primary, urban, both sexes (%)","UIS: Adjusted net attendance rate, primary, urban, female (%)","UIS: Adjusted net attendance rate, primary, urban, gender parity index (GPI)","UIS: Adjusted net attendance rate, primary, urban, male (%)","UIS: Mean years of schooling of the population age 25+. Female","UIS: Mean years of schooling of the population age 25+. Male","UIS: Mean years of schooling of the population age 25+. Total","UIS: Net attendance rate, lower secondary, both sexes (%)","UIS: Net attendance rate, lower secondary, female (%)","UIS: Net attendance rate, lower secondary, fourth quintile, both sexes (%)","UIS: Net attendance rate, lower secondary, fourth quintile, female (%)","UIS: Net attendance rate, lower secondary, fourth quintile, gender parity index (GPI)","UIS: Net attendance rate, lower secondary, fourth quintile, male (%)","UIS: Net attendance rate, lower secondary, gender parity index (GPI)","UIS: Net attendance rate, lower secondary, male (%)","UIS: Net attendance rate, lower secondary, middle quintile, both sexes (%)","UIS: Net attendance rate, lower secondary, middle quintile, female (%)","UIS: Net attendance rate, lower secondary, middle quintile, gender parity index (GPI)","UIS: Net attendance rate, lower secondary, middle quintile, male (%)","UIS: Net attendance rate, lower secondary, poorest quintile, both sexes (%)","UIS: Net attendance rate, lower secondary, poorest quintile, female (%)","UIS: Net attendance rate, lower secondary, poorest quintile, gender parity index (GPI)","UIS: Net attendance rate, lower secondary, poorest quintile, male (%)","UIS: Net attendance rate, lower secondary, richest quintile, both sexes (%)","UIS: Net attendance rate, lower secondary, richest quintile, female (%)","UIS: Net attendance rate, lower secondary, richest quintile, gender parity index (GPI)","UIS: Net attendance rate, lower secondary, richest quintile, male (%)","UIS: Net attendance rate, lower secondary, rural, both sexes (%)","UIS: Net attendance rate, lower secondary, rural, female (%)","UIS: Net attendance rate, lower secondary, rural, gender parity index (GPI)","UIS: Net attendance rate, lower secondary, rural, male (%)","UIS: Net attendance rate, lower secondary, second quintile, both sexes (%)","UIS: Net attendance rate, lower secondary, second quintile, female (%)","UIS: Net attendance rate, lower secondary, second quintile, gender parity index (GPI)","UIS: Net attendance rate, lower secondary, second quintile, male (%)","UIS: Net attendance rate, lower secondary, urban, both sexes (%)","UIS: Net attendance rate, lower secondary, urban, female (%)","UIS: Net attendance rate, lower secondary, urban, gender parity index (GPI)","UIS: Net attendance rate, lower secondary, urban, male (%)","UIS: Net attendance rate, primary, both sexes (%)","UIS: Net attendance rate, primary, female (%)","UIS: Net attendance rate, primary, fourth quintile, both sexes (%)","UIS: Net attendance rate, primary, fourth quintile, female (%)","UIS: Net attendance rate, primary, fourth quintile, gender parity index (GPI)","UIS: Net attendance rate, primary, fourth quintile, male (%)","UIS: Net attendance rate, primary, gender parity index (GPI)","UIS: Net attendance rate, primary, male (%)","UIS: Net attendance rate, primary, middle quintile, both sexes (%)","UIS: Net attendance rate, primary, middle quintile, female (%)","UIS: Net attendance rate, primary, middle quintile, gender parity index (GPI)","UIS: Net attendance rate, primary, middle quintile, male (%)","UIS: Net attendance rate, primary, poorest quintile, both sexes (%)","UIS: Net attendance rate, primary, poorest quintile, female (%)","UIS: Net attendance rate, primary, poorest quintile, gender parity index (GPI)","UIS: Net attendance rate, primary, poorest quintile, male (%)","UIS: Net attendance rate, primary, richest quintile, both sexes (%)","UIS: Net attendance rate, primary, richest quintile, female (%)","UIS: Net attendance rate, primary, richest quintile, gender parity index (GPI)","UIS: Net attendance rate, primary, richest quintile, male (%)","UIS: Net attendance rate, primary, rural, both sexes (%)","UIS: Net attendance rate, primary, rural, female (%)","UIS: Net attendance rate, primary, rural, gender parity index (GPI)","UIS: Net attendance rate, primary, rural, male (%)","UIS: Net attendance rate, primary, second quintile, both sexes (%)","UIS: Net attendance rate, primary, second quintile, female (%)","UIS: Net attendance rate, primary, second quintile, gender parity index (GPI)","UIS: Net attendance rate, primary, second quintile, male (%)","UIS: Net attendance rate, primary, urban, both sexes (%)","UIS: Net attendance rate, primary, urban, female (%)","UIS: Net attendance rate, primary, urban, gender parity index (GPI)","UIS: Net attendance rate, primary, urban, male (%)","Youth illiterate population, 15-24 years, % female","Youth illiterate population, 15-24 years, both sexes (number)","Youth illiterate population, 15-24 years, female (number)","Youth illiterate population, 15-24 years, male (number)","Youth literacy rate, population 15-24 years, both sexes (%)","Youth literacy rate, population 15-24 years, female (%)","Youth literacy rate, population 15-24 years, gender parity index (GPI)","Youth literacy rate, population 15-24 years, male (%)"]

In [ ]:
print(selected_variables[0])

Adjusted net enrolment rate, lower secondary, both sexes (%)

In [ ]:
df1 = lower_second
for selected_variable in selected_variables:
    df = convert_to_tidy(ed, selected_variable)
    df = df.rename(columns={"Value": selected_variable})
    combined_df = pd.merge(df1, df, on=["Country Code", "Year"], how="outer")
    combined_df = combined_df[(combined_df['Year']>=2005) & (combined_df['Year']<=2014)]
    df1 = combined_df

    Country Code  Year      Value
71           CRI  1970  22.545290
145          MYS  1970  52.333721
178          PER  1970  17.680140
211          SWZ  1970   7.085760
269          DZA  1971   9.173200
(2405, 3)
[1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983
 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997
 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015]
    Country Code  Year      Value
71           CRI  1970  23.346399
178          PER  1970  16.100370
269          DZA  1971   5.652660
292          BWA  1971   5.948660
301          CMR  1971   3.787890
(2260, 3)
[1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983
 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997
 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015]
    Country Code  Year    Value
71           CRI  1970  1.07246
178          PER  1970  0.83623
269          DZA  1971  0.45049
292          BWA  1971  1.25097
301          CMR  1971  0.46995
(2248, 3)
[1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983
 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997
 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015]
    Country Code  Year      Value
71           CRI  1970  21.769060
178          PER  1970  19.253469
269          DZA  1971  12.547840
292          BWA  1971   4.755230
301          CMR  1971   8.060150
(2248, 3)
[1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983
 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997
 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015]
  Country Code  Year      Value
0          ARB  1970  54.822121
3          EMU  1970  95.223793
6          EUU  1970  95.627777
8          HIC  1970  90.785957
9          LCN  1970  83.272621
(3216, 3)
[1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983
 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997
 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015 2016]
   Country Code  Year      Value
0           ARB  1970  43.351101
3           EMU  1970  95.724380
6           EUU  1970  95.935387
9           LCN  1970  82.814812
10          LAC  1970  81.863350
(2932, 3)
[1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983
 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997
 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015 2016]
   Country Code  Year    Value
0           ARB  1970  0.65857
3           EMU  1970  1.01033
6           EUU  1970  1.00630
9           LCN  1970  0.98917
10          LAC  1970  0.98845
(4165, 3)
[1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983
 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997
 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015]
   Country Code  Year      Value
0           ARB  1970  65.826233
3           EMU  1970  94.745872
6           EUU  1970  95.334328
9           LCN  1970  83.721809
10          LAC  1970  82.819717
(2932, 3)
[1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983
 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997
 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015 2016]
     Country Code  Year      Value
6816          BGD  1998  26.265570
6826          BWA  1998  19.469660
6927          MUS  1998  48.237080
6937          NAM  1998  11.876140
6969          SYC  1998  77.667191
(773, 3)
[1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015]
     Country Code  Year      Value
6816          BGD  1998  22.804770
6826          BWA  1998  21.157841
6927          MUS  1998  49.881649
6937          NAM  1998  12.685210
6969          SYC  1998  77.531647
(761, 3)
[1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015]
     Country Code  Year    Value
6816          BGD  1998  0.77071
6826          BWA  1998  1.18897
6927          MUS  1998  1.06956
6937          NAM  1998  1.14605
6969          SYC  1998  0.99657
(761, 3)
[1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015]
     Country Code  Year      Value
6816          BGD  1998  29.589239
6826          BWA  1998  17.795071
6927          MUS  1998  46.637409
6937          NAM  1998  11.068590
6969          SYC  1998  77.798172
(761, 3)
[1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015]
  Country Code  Year      Value
0          ARB  1970  52.448921
3          EMU  1970  93.011223
6          EUU  1970  94.035942
8          HIC  1970  89.871750
9          LCN  1970  68.653740
(4618, 3)
[1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983
 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997
 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015]
  Country Code  Year      Value
0          ARB  1970  44.342487
3          EMU  1970  94.022514
6          EUU  1970  94.655701
8          HIC  1970  90.690567
9          LCN  1970  68.533401
(4432, 3)
[1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983
 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997
 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015]
  Country Code  Year    Value
0          ARB  1970  0.73634
3          EMU  1970  1.02105
6          EUU  1970  1.01229
8          HIC  1970  1.01755
9          LCN  1970  0.99708
(4432, 3)
[1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983
 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997
 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015]
  Country Code  Year      Value
0          ARB  1970  60.220436
3          EMU  1970  92.083961
6          EUU  1970  93.506821
8          HIC  1970  89.126564
9          LCN  1970  68.734085
(4432, 3)
[1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983
 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997
 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015]
     Country Code  Year      Value
41            BRB  1970  55.651981
102           GRD  1970  60.351929
208           VCT  1970  57.397610
1265          BFA  1975  54.787518
1272          CAF  1975  57.788517
(1307, 3)
[1970 1975 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987
 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001
 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015
 2016]
     Country Code  Year      Value
41            BRB  1970     1078.0
102           GRD  1970     1039.0
208           VCT  1970     1964.0
1265          BFA  1975  3127116.0
1272          CAF  1975   949572.0
(1077, 3)
[1970 1975 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987
 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001
 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015
 2016]
     Country Code  Year      Value
41            BRB  1970      600.0
102           GRD  1970      627.0
208           VCT  1970     1127.0
1265          BFA  1975  1713269.0
1272          CAF  1975   548743.0
(1306, 3)
[1970 1975 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987
 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001
 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015
 2016]
     Country Code  Year      Value
41            BRB  1970      478.0
102           GRD  1970      412.0
208           VCT  1970      837.0
1265          BFA  1975  1413847.0
1272          CAF  1975   400828.0
(1076, 3)
[1970 1975 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987
 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001
 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015
 2016]
     Country Code  Year      Value
41            BRB  1970  99.268082
102           GRD  1970  97.794472
208           VCT  1970  95.632156
1265          BFA  1975   8.685150
1272          CAF  1975  18.236170
(1311, 3)
[1970 1975 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987
 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001
 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015
 2016]
     Country Code  Year      Value
41            BRB  1970  99.251556
102           GRD  1970  97.589783
208           VCT  1970  95.500000
1265          BFA  1975   3.182770
1272          CAF  1975   8.399580
(1309, 3)
[1970 1975 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987
 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001
 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015
 2016]
     Country Code  Year    Value
41            BRB  1970  0.99964
102           GRD  1970  0.99534
208           VCT  1970  0.99687
1265          BFA  1975  0.21907
1272          CAF  1975  0.28384
(1309, 3)
[1970 1975 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987
 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001
 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015
 2016]
     Country Code  Year      Value
41            BRB  1970  99.287231
102           GRD  1970  98.047157
208           VCT  1970  95.800003
1265          BFA  1975  14.528490
1272          CAF  1975  29.592920
(1309, 3)
[1970 1975 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987
 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001
 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015
 2016]
     Country Code  Year     Value
2460          BGD  1980   5.26360
2508          ETH  1980  12.35554
2518          GHA  1980   7.64188
2632          SWE  1980   9.86202
2702          BGD  1981   6.63403
(2425, 3)
[1980 1981 1982 1983 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993
 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007
 2008 2009 2010 2011 2012 2013 2014 2015]
     Country Code  Year      Value
6808          ARG  1998   3.287210
6810          ABW  1998  37.668381
6812          AUT  1998   1.563000
6813          AZE  1998  14.446420
6824          BOL  1998   5.558580
(785, 3)
[1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015]
     Country Code  Year     Value
6808          ARG  1998  19.47735
6812          AUT  1998  22.76590
6822          BMU  1998  29.94536
6824          BOL  1998  10.00733
6827          BRA  1998  25.42621
(893, 3)
[1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014]
     Country Code  Year    Value
6808          ARG  1998  3.04280
6812          AUT  1998  2.68604
6824          BOL  1998  1.84402
6827          BRA  1998  2.95703
6830          BGR  1998  1.83978
(925, 3)
[1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014]
     Country Code  Year    Value
6812          AUT  1998  0.85350
6813          AZE  1998  2.55972
6834          KHM  1998  0.91314
6836          CAN  1998  2.74378
6843          COL  1998  0.03321
(716, 3)
[1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015]
     Country Code  Year    Value
6812          AUT  1998  0.10070
6813          AZE  1998  0.36480
6834          KHM  1998  0.08576
6836          CAN  1998  0.34368
6843          COL  1998  0.00414
(708, 3)
[1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014]
     Country Code  Year    Value
6808          ARG  1998  7.27167
6810          ABW  1998  4.16482
6812          AUT  1998  7.88958
6813          AZE  1998  9.29638
6822          BMU  1998  5.38007
(1169, 3)
[1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015]
     Country Code  Year    Value
6808          ARG  1998  1.13600
6810          ABW  1998  0.91969
6812          AUT  1998  0.93085
6813          AZE  1998  1.32488
6824          BOL  1998  0.80709
(1175, 3)
[1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014]
   Country Code  Year      Value
32          ARG  1970  28.000000
36          AUT  1970  29.536600
39          BHR  1970  48.267590
52          VGB  1970  51.221500
53          BRN  1970  43.504959
(2795, 3)
[1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983
 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997
 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015 2016]
     Country Code  Year    Value
6808          ARG  1998  5.47881
6810          ABW  1998  5.09379
6812          AUT  1998  2.28905
6824          BOL  1998  7.82899
6827          BRA  1998  3.82591
(1279, 3)
[1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014]
     Country Code  Year     Value
9509          CRI  2009   6.28135
9526          ETH  2009  11.49825
9751          CRI  2010   6.07269
9768          ETH  2010  11.58923
9786          GNB  2010   8.80995
(84, 3)
[2009 2010 2011 2012 2013 2014]
     Country Code  Year    Value
9509          CRI  2009  1.47035
9526          ETH  2009  2.71172
9751          CRI  2010  1.38949
9768          ETH  2010  3.04843
9786          GNB  2010  0.87761
(87, 3)
[2009 2010 2011 2012 2013 2014]
   Country Code  Year      Value
32          ARG  1970  30.285709
36          AUT  1970  50.992920
39          BHR  1970  41.284649
52          VGB  1970  43.648209
53          BRN  1970  51.018921
(2787, 3)
[1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983
 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997
 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015 2016]
     Country Code  Year    Value
6808          ARG  1998  5.18853
6810          ABW  1998  5.52008
6812          AUT  1998  5.19850
6824          BOL  1998  3.78396
6827          BRA  1998  4.37243
(1270, 3)
[1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014]
   Country Code  Year     Value
32          ARG  1970  24.00000
36          AUT  1970  15.06736
39          BHR  1970   4.58422
52          VGB  1970   1.46580
53          BRN  1970   5.47028
(3158, 3)
[1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983
 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997
 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015 2016]
     Country Code  Year    Value
6808          ARG  1998  3.30539
6810          ABW  1998  2.23075
6812          AUT  1998  3.09498
6813          AZE  1998  0.94031
6824          BOL  1998  4.98239
(1342, 3)
[1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014]
     Country Code  Year      Value
6808          ARG  1998  13.735080
6812          AUT  1998  21.294689
6822          BMU  1998  29.677919
6824          BOL  1998  10.527860
6827          BRA  1998  12.170340
(912, 3)
[1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015]
     Country Code  Year    Value
6808          ARG  1998  2.14573
6812          AUT  1998  2.51246
6824          BOL  1998  1.93994
6827          BRA  1998  1.41539
6830          BGR  1998  2.08940
(945, 3)
[1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014]
  Country Code  Year         Value
1          EAS  1970  2.835822e+12
2          EAP  1970  3.994829e+11
3          EMU  1970  5.035877e+12
4          ECS  1970  8.448470e+12
6          EUU  1970  6.003384e+12
(8883, 3)
[1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983
 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997
 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015 2016]
  Country Code  Year         Value
0          ARB  1970  3.091053e+10
1          EAS  1970  4.074823e+11
2          EAP  1970  1.273132e+11
3          EMU  1970  6.414985e+11
4          ECS  1970  1.007774e+12
(9199, 3)
[1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983
 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997
 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015 2016]
  Country Code  Year         Value
1          EAS  1970   2200.733170
2          EAP  1970    358.143465
3          EMU  1970  17521.200705
4          ECS  1970  11448.595177
6          EUU  1970  13584.616951
(8880, 3)
[1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983
 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997
 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015 2016]
  Country Code  Year        Value
0          ARB  1970   250.488643
1          EAS  1970   316.225712
2          EAP  1970   114.138515
3          EMU  1970  2231.949573
4          ECS  1970  1365.643199
(9196, 3)
[1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983
 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997
 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015 2016]
     Country Code  Year         Value
4840          ARB  1990  10042.865346
4841          EAS  1990   4957.860461
4842          EAP  1990   2225.658244
4843          EMU  1990  28120.169893
4844          ECS  1990  20564.284793
(5612, 3)
[1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003
 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016]
     Country Code  Year         Value
4840          ARB  1990   6468.098623
4841          EAS  1990   3195.396010
4842          EAP  1990   1438.584612
4843          EMU  1990  16955.109294
4844          ECS  1990  11549.690536
(5607, 3)
[1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003
 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016]
     Country Code  Year         Value
4840          ARB  1990  2.224377e+12
4841          EAS  1990  9.019778e+12
4842          EAP  1990  3.566247e+12
4843          EMU  1990  8.760549e+12
4844          ECS  1990  1.733258e+13
(5615, 3)
[1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003
 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016]
     Country Code  Year         Value
4840          ARB  1990  1.432608e+12
4841          EAS  1990  5.813347e+12
4842          EAP  1990  2.305092e+12
4843          EMU  1990  5.282190e+12
4844          ECS  1990  9.734639e+12
(5610, 3)
[1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003
 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016]
  Country Code  Year         Value
0          ARB  1970  4.115808e+10
1          EAS  1970  4.033822e+11
2          EAP  1970  1.242174e+11
3          EMU  1970  6.474834e+11
4          ECS  1970  1.031224e+12
(8800, 3)
[1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983
 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997
 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015 2016]
  Country Code  Year        Value
0          ARB  1970   327.231429
1          EAS  1970   301.934386
2          EAP  1970   121.400008
3          EMU  1970  2260.301685
6          EUU  1970  1985.452713
(8417, 3)
[1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983
 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997

In [ ]:
print(df1.shape)
print(df1)

(1891, 280)
     Country Code  Year    Value  \
0             ARG  2005  1.05827
1             ABW  2005  1.10962
2             AUS  2005  1.04709
3             BHS  2005  1.00409
4             BHR  2005  1.01779
...           ...   ...      ...
1886          VGB  2012      NaN
1887          GIB  2008      NaN
1888          GIB  2009      NaN
1889          NRU  2005      NaN
1890          NRU  2006      NaN

      Adjusted net enrolment rate, lower secondary, both sexes (%)  \
0                                             81.559692
1                                             59.058441
2                                             86.479759
3                                             78.466621
4                                             90.614471
...                                                 ...
1886                                                NaN
1887                                                NaN
1888                                                NaN
1889                                                NaN
1890                                                NaN

      Adjusted net enrolment rate, lower secondary, female (%)  \
0                                             83.907806
1                                             62.097809
2                                             88.547722
3                                             78.627548
4                                             91.422440
...                                                 ...
1886                                                NaN
1887                                                NaN
1888                                                NaN
1889                                                NaN
1890                                                NaN

      Adjusted net enrolment rate, lower secondary, gender parity index (GPI)  \
0                                               1.05827
1                                               1.10962
2                                               1.04709
3                                               1.00409
4                                               1.01779
...                                                 ...
1886                                                NaN
1887                                                NaN
1888                                                NaN
1889                                                NaN
1890                                                NaN

      Adjusted net enrolment rate, lower secondary, male (%)  \
0                                             79.287369
1                                             55.963299
2                                             84.565224
3                                             78.307281
4                                             89.824097
...                                                 ...
1886                                                NaN
1887                                                NaN
1888                                                NaN
1889                                                NaN
1890                                                NaN

      Adjusted net enrolment rate, primary, both sexes (%)  \
0                                             99.345833
1                                             97.978920
2                                             95.489548
3                                             98.579849
4                                             90.197701
...                                                 ...
1886                                                NaN
1887                                                NaN
1888                                                NaN
1889                                                NaN
1890                                                NaN

      Adjusted net enrolment rate, primary, female (%)  \
0                                            98.885139
1                                            96.715248
2                                            96.767410
3                                            99.636337
4                                            92.291801
...                                                ...
1886                                               NaN
1887                                               NaN
1888                                               NaN
1889                                               NaN
1890                                               NaN

      Adjusted net enrolment rate, primary, gender parity index (GPI)  ...  \
0                                               0.99092                ...
1                                               0.97456                ...
2                                               1.02617                ...
3                                               1.02141                ...
4                                                   NaN                ...
...                                                 ...                ...
1886                                                NaN                ...
1887                                                NaN                ...
1888                                                NaN                ...
1889                                                NaN                ...
1890                                                NaN                ...

      UIS: Net attendance rate, primary, urban, gender parity index (GPI)  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1886                                                NaN
1887                                                NaN
1888                                                NaN
1889                                                NaN
1890                                                NaN

      UIS: Net attendance rate, primary, urban, male (%)  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1886                                                NaN
1887                                                NaN
1888                                                NaN
1889                                                NaN
1890                                                NaN

      Youth illiterate population, 15-24 years, % female  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1886                                                NaN
1887                                                NaN
1888                                                NaN
1889                                                NaN
1890                                                NaN

      Youth illiterate population, 15-24 years, both sexes (number)  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1886                                                NaN
1887                                                NaN
1888                                                NaN
1889                                                NaN
1890                                                NaN

      Youth illiterate population, 15-24 years, female (number)  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1886                                                NaN
1887                                                NaN
1888                                                NaN
1889                                                NaN
1890                                                NaN

      Youth illiterate population, 15-24 years, male (number)  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1886                                                NaN
1887                                                NaN
1888                                                NaN
1889                                                NaN
1890                                                NaN

      Youth literacy rate, population 15-24 years, both sexes (%)  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1886                                                NaN
1887                                                NaN
1888                                                NaN
1889                                                NaN
1890                                                NaN

      Youth literacy rate, population 15-24 years, female (%)  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1886                                                NaN
1887                                                NaN
1888                                                NaN
1889                                                NaN
1890                                                NaN

      Youth literacy rate, population 15-24 years, gender parity index (GPI)  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1886                                                NaN
1887                                                NaN
1888                                                NaN
1889                                                NaN
1890                                                NaN

      Youth literacy rate, population 15-24 years, male (%)
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1886                                                NaN
1887                                                NaN
1888                                                NaN
1889                                                NaN
1890                                                NaN

[1891 rows x 280 columns]

In [ ]:
df1.to_csv('../data/education.csv', index=False)

In [ ]:
df2 = lower_second
for indicator_value in indicator_values:
    df = convert_to_tidy(ed, indicator_value)
    df = df.rename(columns={"Value": indicator_value})
    combined_df = pd.merge(df1, df, on=["Country Code", "Year"], how="outer")
    combined_df = combined_df[(combined_df['Year']>=2005) & (combined_df['Year']<=2012)]
    combined_df = combined_df.dropna()
    df2 = combined_df

    Country Code  Year      Value
71           CRI  1970  22.545290
145          MYS  1970  52.333721
178          PER  1970  17.680140
211          SWZ  1970   7.085760
269          DZA  1971   9.173200
(2405, 3)
[1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983
 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997
 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015]
    Country Code  Year      Value
71           CRI  1970  23.346399
178          PER  1970  16.100370
269          DZA  1971   5.652660
292          BWA  1971   5.948660
301          CMR  1971   3.787890
(2260, 3)
[1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983
 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997
 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015]
    Country Code  Year    Value
71           CRI  1970  1.07246
178          PER  1970  0.83623
269          DZA  1971  0.45049
292          BWA  1971  1.25097
301          CMR  1971  0.46995
(2248, 3)
[1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983
 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997
 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015]
    Country Code  Year      Value
71           CRI  1970  21.769060
178          PER  1970  19.253469
269          DZA  1971  12.547840
292          BWA  1971   4.755230
301          CMR  1971   8.060150
(2248, 3)
[1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983
 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997
 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015]
  Country Code  Year      Value
0          ARB  1970  54.822121
3          EMU  1970  95.223793
6          EUU  1970  95.627777
8          HIC  1970  90.785957
9          LCN  1970  83.272621
(3216, 3)
[1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983
 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997
 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015 2016]
   Country Code  Year      Value
0           ARB  1970  43.351101
3           EMU  1970  95.724380
6           EUU  1970  95.935387
9           LCN  1970  82.814812
10          LAC  1970  81.863350
(2932, 3)
[1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983
 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997
 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015 2016]
   Country Code  Year    Value
0           ARB  1970  0.65857
3           EMU  1970  1.01033
6           EUU  1970  1.00630
9           LCN  1970  0.98917
10          LAC  1970  0.98845
(4165, 3)
[1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983
 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997
 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015]
   Country Code  Year      Value
0           ARB  1970  65.826233
3           EMU  1970  94.745872
6           EUU  1970  95.334328
9           LCN  1970  83.721809
10          LAC  1970  82.819717
(2932, 3)
[1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983
 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997
 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015 2016]
     Country Code  Year      Value
6816          BGD  1998  26.265570
6826          BWA  1998  19.469660
6927          MUS  1998  48.237080
6937          NAM  1998  11.876140
6969          SYC  1998  77.667191
(773, 3)
[1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015]
     Country Code  Year      Value
6816          BGD  1998  22.804770
6826          BWA  1998  21.157841
6927          MUS  1998  49.881649
6937          NAM  1998  12.685210
6969          SYC  1998  77.531647
(761, 3)
[1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015]
     Country Code  Year    Value
6816          BGD  1998  0.77071
6826          BWA  1998  1.18897
6927          MUS  1998  1.06956
6937          NAM  1998  1.14605
6969          SYC  1998  0.99657
(761, 3)
[1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015]
     Country Code  Year      Value
6816          BGD  1998  29.589239
6826          BWA  1998  17.795071
6927          MUS  1998  46.637409
6937          NAM  1998  11.068590
6969          SYC  1998  77.798172
(761, 3)
[1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015]
  Country Code  Year      Value
0          ARB  1970  52.448921
3          EMU  1970  93.011223
6          EUU  1970  94.035942
8          HIC  1970  89.871750
9          LCN  1970  68.653740
(4618, 3)
[1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983
 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997
 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015]
  Country Code  Year      Value
0          ARB  1970  44.342487
3          EMU  1970  94.022514
6          EUU  1970  94.655701
8          HIC  1970  90.690567
9          LCN  1970  68.533401
(4432, 3)
[1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983
 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997
 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015]
  Country Code  Year    Value
0          ARB  1970  0.73634
3          EMU  1970  1.02105
6          EUU  1970  1.01229
8          HIC  1970  1.01755
9          LCN  1970  0.99708
(4432, 3)
[1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983
 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997
 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015]
  Country Code  Year      Value
0          ARB  1970  60.220436
3          EMU  1970  92.083961
6          EUU  1970  93.506821
8          HIC  1970  89.126564
9          LCN  1970  68.734085
(4432, 3)
[1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983
 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997
 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015]
     Country Code  Year      Value
41            BRB  1970  55.651981
102           GRD  1970  60.351929
208           VCT  1970  57.397610
1265          BFA  1975  54.787518
1272          CAF  1975  57.788517
(1307, 3)
[1970 1975 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987
 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001
 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015
 2016]
     Country Code  Year      Value
41            BRB  1970     1078.0
102           GRD  1970     1039.0
208           VCT  1970     1964.0
1265          BFA  1975  3127116.0
1272          CAF  1975   949572.0
(1077, 3)
[1970 1975 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987
 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001
 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015
 2016]
     Country Code  Year      Value
41            BRB  1970      600.0
102           GRD  1970      627.0
208           VCT  1970     1127.0
1265          BFA  1975  1713269.0
1272          CAF  1975   548743.0
(1306, 3)
[1970 1975 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987
 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001
 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015
 2016]
     Country Code  Year      Value
41            BRB  1970      478.0
102           GRD  1970      412.0
208           VCT  1970      837.0
1265          BFA  1975  1413847.0
1272          CAF  1975   400828.0
(1076, 3)
[1970 1975 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987
 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001
 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015
 2016]
     Country Code  Year      Value
41            BRB  1970  99.268082
102           GRD  1970  97.794472
208           VCT  1970  95.632156
1265          BFA  1975   8.685150
1272          CAF  1975  18.236170
(1311, 3)
[1970 1975 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987
 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001
 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015
 2016]
     Country Code  Year      Value
41            BRB  1970  99.251556
102           GRD  1970  97.589783
208           VCT  1970  95.500000
1265          BFA  1975   3.182770
1272          CAF  1975   8.399580
(1309, 3)
[1970 1975 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987
 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001
 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015
 2016]
     Country Code  Year    Value
41            BRB  1970  0.99964
102           GRD  1970  0.99534
208           VCT  1970  0.99687
1265          BFA  1975  0.21907
1272          CAF  1975  0.28384
(1309, 3)
[1970 1975 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987
 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001
 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015
 2016]
     Country Code  Year      Value
41            BRB  1970  99.287231
102           GRD  1970  98.047157
208           VCT  1970  95.800003
1265          BFA  1975  14.528490
1272          CAF  1975  29.592920
(1309, 3)
[1970 1975 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987
 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001
 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015
 2016]
     Country Code  Year    Value
8984          AGO  2007  2.00000
9226          AGO  2008  2.41677
9468          AGO  2009  2.00834
9495          CPV  2009  2.14662
9710          AGO  2010  2.13417
(59, 3)
[2007 2008 2009 2010 2011 2012 2013 2014]
     Country Code  Year     Value
9510          CIV  2009   1.76301
9581          MDG  2009   1.63192
9725          BEN  2010   0.86927
9736          BDI  2010   2.58025
9739          CMR  2010  12.91644
(98, 3)
[2009 2010 2011 2012 2013 2014 2015]
     Country Code  Year     Value
9510          CIV  2009   1.72234
9581          MDG  2009   1.58648
9725          BEN  2010   1.02076
9736          BDI  2010   2.36565
9739          CMR  2010  12.71661
(98, 3)
[2009 2010 2011 2012 2013 2014 2015]
     Country Code  Year     Value
9510          CIV  2009   2.85036
9581          MDG  2009   0.84900
9725          BEN  2010   0.99936
9735          BFA  2010   0.59919
9739          CMR  2010  12.84896
(99, 3)
[2009 2010 2011 2012 2013 2014 2015]
     Country Code  Year     Value
9510          CIV  2009   2.49187
9581          MDG  2009   1.81061
9725          BEN  2010   0.97518
9735          BFA  2010   0.58108
9739          CMR  2010  13.43734
(100, 3)
[2009 2010 2011 2012 2013 2014 2015]
     Country Code  Year     Value
9510          CIV  2009   1.92585
9581          MDG  2009   1.91246
9725          BEN  2010   1.04871
9735          BFA  2010   0.58835
9739          CMR  2010  14.00980
(101, 3)
[2009 2010 2011 2012 2013 2014 2015]

In [ ]:
print(df1.head())

  Country Code  Year    Value  \
0          ARG  2005  1.05827
1          ABW  2005  1.10962
2          AUS  2005  1.04709
3          BHS  2005  1.00409
4          BHR  2005  1.01779

   Adjusted net enrolment rate, lower secondary, both sexes (%)  \
0                                          81.559692
1                                          59.058441
2                                          86.479759
3                                          78.466621
4                                          90.614471

   Adjusted net enrolment rate, lower secondary, female (%)  \
0                                          83.907806
1                                          62.097809
2                                          88.547722
3                                          78.627548
4                                          91.422440

   Adjusted net enrolment rate, lower secondary, gender parity index (GPI)  \
0                                            1.05827
1                                            1.10962
2                                            1.04709
3                                            1.00409
4                                            1.01779

   Adjusted net enrolment rate, lower secondary, male (%)  \
0                                          79.287369
1                                          55.963299
2                                          84.565224
3                                          78.307281
4                                          89.824097

   Adjusted net enrolment rate, primary, both sexes (%)  \
0                                          99.345833
1                                          97.978920
2                                          95.489548
3                                          98.579849
4                                          90.197701

   Adjusted net enrolment rate, primary, female (%)  \
0                                         98.885139
1                                         96.715248
2                                         96.767410
3                                         99.636337
4                                         92.291801

   Adjusted net enrolment rate, primary, gender parity index (GPI)  ...  \
0                                            0.99092                ...
1                                            0.97456                ...
2                                            1.02617                ...
3                                            1.02141                ...
4                                                NaN                ...

   UIS: Net attendance rate, primary, urban, gender parity index (GPI)  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

   UIS: Net attendance rate, primary, urban, male (%)  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

   Youth illiterate population, 15-24 years, % female  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

   Youth illiterate population, 15-24 years, both sexes (number)  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

   Youth illiterate population, 15-24 years, female (number)  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

   Youth illiterate population, 15-24 years, male (number)  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

   Youth literacy rate, population 15-24 years, both sexes (%)  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

   Youth literacy rate, population 15-24 years, female (%)  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

   Youth literacy rate, population 15-24 years, gender parity index (GPI)  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

   Youth literacy rate, population 15-24 years, male (%)
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

[5 rows x 280 columns]

In [ ]:
lower_second_year = lower_second.groupby(['Year']).size().reset_index(name='Count')

print(lower_second_year)

    Year  Count
0   1970      2
1   1971     24
2   1972     24
3   1973     22
4   1974     24
5   1975     20
6   1976     22
7   1977     27
8   1978     26
9   1979     26
10  1980     21
11  1981     26
12  1982     23
13  1983     23
14  1984     25
15  1985     24
16  1986     26
17  1987     20
18  1988     15
19  1989     21
20  1990     17
21  1991     22
22  1992     24
23  1993     27
24  1994     32
25  1995     27
26  1996     26
27  1997     27
28  1998     40
29  1999     93
30  2000     93
31  2001     95
32  2002     96
33  2003     89
34  2004     97
35  2005    101
36  2006     95
37  2007    101
38  2008    100
39  2009    110
40  2010    103
41  2011    106
42  2012    101
43  2013     98
44  2014     84
45  2015      3

In [ ]:
lower_second_country = lower_second[(lower_second['Year']>=2005) & (lower_second['Year']<=2014)]
lower_second_country = lower_second_country.dropna()
print(lower_second_country.shape)
print(lower_second_country.head())
print(lower_second_country['Country Name'].nunique())

(999, 3)
     Country Code  Year    Value
8502          ARG  2005  1.05827
8504          ABW  2005  1.10962
8505          AUS  2005  1.04709
8508          BHS  2005  1.00409
8509          BHR  2005  1.01779

KeyError: 'Country Name'

In [ ]:
upper_second = "Adjusted net enrolment rate, upper secondary, gender parity index (GPI)"
upper_second = convert_to_tidy(ed, upper_second)

     Country Name Country Code  \
6816   Bangladesh          BGD
6826     Botswana          BWA
6927    Mauritius          MUS
6937      Namibia          NAM
6969   Seychelles          SYC

                                         Indicator Name  Indicator Code  Year  \
6816  Adjusted net enrolment rate, upper secondary, ...  UIS.NERA.3.GPI  1998
6826  Adjusted net enrolment rate, upper secondary, ...  UIS.NERA.3.GPI  1998
6927  Adjusted net enrolment rate, upper secondary, ...  UIS.NERA.3.GPI  1998
6937  Adjusted net enrolment rate, upper secondary, ...  UIS.NERA.3.GPI  1998
6969  Adjusted net enrolment rate, upper secondary, ...  UIS.NERA.3.GPI  1998

        Value
6816  0.77071
6826  1.18897
6927  1.06956
6937  1.14605
6969  0.99657
(761, 6)
['1998' '1999' '2000' '2001' '2002' '2003' '2004' '2005' '2006' '2007'
 '2008' '2009' '2010' '2011' '2012' '2013' '2014' '2015']

In [ ]:
adult_literacy = "Adult literacy rate, population 15+ years, gender parity index (GPI)"
adult_literacy = convert_to_tidy(ed, adult_literacy)

                        Country Name Country Code  \
41                          Barbados          BRB
102                          Grenada          GRD
208   St. Vincent and the Grenadines          VCT
1265                    Burkina Faso          BFA
1272        Central African Republic          CAF

                                         Indicator Name      Indicator Code  \
41    Adult literacy rate, population 15+ years, gen...  UIS.LR.AG15T99.GPI
102   Adult literacy rate, population 15+ years, gen...  UIS.LR.AG15T99.GPI
208   Adult literacy rate, population 15+ years, gen...  UIS.LR.AG15T99.GPI
1265  Adult literacy rate, population 15+ years, gen...  UIS.LR.AG15T99.GPI
1272  Adult literacy rate, population 15+ years, gen...  UIS.LR.AG15T99.GPI

      Year    Value
41    1970  0.99964
102   1970  0.99534
208   1970  0.99687
1265  1975  0.21907
1272  1975  0.28384
(1309, 6)
['1970' '1975' '1976' '1977' '1978' '1979' '1980' '1981' '1982' '1983'
 '1984' '1985' '1986' '1987' '1988' '1989' '1990' '1991' '1992' '1993'
 '1994' '1995' '1996' '1997' '1998' '1999' '2000' '2001' '2002' '2003'
 '2004' '2005' '2006' '2007' '2008' '2009' '2010' '2011' '2012' '2013'
 '2014' '2015' '2016']

In [ ]:
countries = ed['Country Name'].nunique()
print(countries)

242