---
title: "Ed Stats EDA"
author: "Tiana Le"
date: "2/19/2024"
---

# READ ME

Please download the Education Data locally to run this notebook on your computer. (The Education Data was too large for git commit.)

https://drive.google.com/drive/folders/1DMgypB9L6VsSHt2jGA4cKqAYOjkuN3Sx?usp=drive_link

In [6]:
import pandas as pd
import numpy as np

https://datacatalog.worldbank.org/search/dataset/0038480/education-statistics

In [7]:
ed = pd.read_csv('../../EdStats_CSV/EdStatsData.csv')
print(ed.head())

  Country Name Country Code  \
0   Arab World          ARB
1   Arab World          ARB
2   Arab World          ARB
3   Arab World          ARB
4   Arab World          ARB

                                      Indicator Name  Indicator Code  \
0  Adjusted net enrolment rate, lower secondary, ...      UIS.NERA.2
1  Adjusted net enrolment rate, lower secondary, ...    UIS.NERA.2.F
2  Adjusted net enrolment rate, lower secondary, ...  UIS.NERA.2.GPI
3  Adjusted net enrolment rate, lower secondary, ...    UIS.NERA.2.M
4  Adjusted net enrolment rate, primary, both sex...     SE.PRM.TENR

        1970       1971       1972       1973       1974      1975  ...  2060  \
0        NaN        NaN        NaN        NaN        NaN       NaN  ...   NaN
1        NaN        NaN        NaN        NaN        NaN       NaN  ...   NaN
2        NaN        NaN        NaN        NaN        NaN       NaN  ...   NaN
3        NaN        NaN        NaN        NaN        NaN       NaN  ...   NaN
4  54.822121  54.894138  56.209438  57.267109  57.991138  59.36554  ...   NaN

   2065  2070  2075  2080  2085  2090  2095  2100  Unnamed: 69
0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN          NaN
1   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN          NaN
2   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN          NaN
3   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN          NaN
4   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN          NaN

[5 rows x 70 columns]

In [8]:
indicator_counts = ed['Indicator Name'].nunique()

print(indicator_counts)

3665

In [9]:
print(ed.shape)

(886930, 70)

In [10]:
indicator_value = ed['Indicator Name'].unique()

print(indicator_value[:10])
print(indicator_value[10:20])
print(indicator_value[20:30])

['Adjusted net enrolment rate, lower secondary, both sexes (%)'
 'Adjusted net enrolment rate, lower secondary, female (%)'
 'Adjusted net enrolment rate, lower secondary, gender parity index (GPI)'
 'Adjusted net enrolment rate, lower secondary, male (%)'
 'Adjusted net enrolment rate, primary, both sexes (%)'
 'Adjusted net enrolment rate, primary, female (%)'
 'Adjusted net enrolment rate, primary, gender parity index (GPI)'
 'Adjusted net enrolment rate, primary, male (%)'
 'Adjusted net enrolment rate, upper secondary, both sexes (%)'
 'Adjusted net enrolment rate, upper secondary, female (%)']
['Adjusted net enrolment rate, upper secondary, gender parity index (GPI)'
 'Adjusted net enrolment rate, upper secondary, male (%)'
 'Adjusted net intake rate to Grade 1 of primary education, both sexes (%)'
 'Adjusted net intake rate to Grade 1 of primary education, female (%)'
 'Adjusted net intake rate to Grade 1 of primary education, gender parity index (GPI)'
 'Adjusted net intake rate to Grade 1 of primary education, male (%)'
 'Adult illiterate population, 15+ years, % female'
 'Adult illiterate population, 15+ years, both sexes (number)'
 'Adult illiterate population, 15+ years, female (number)'
 'Adult illiterate population, 15+ years, male (number)']
['Adult literacy rate, population 15+ years, both sexes (%)'
 'Adult literacy rate, population 15+ years, female (%)'
 'Adult literacy rate, population 15+ years, gender parity index (GPI)'
 'Adult literacy rate, population 15+ years, male (%)'
 'Africa Dataset: Average number of grades per multigrade class in primary schools (number of grades)'
 'Africa Dataset: Average number of pupils per mathematics textbook in Grade 1 of primary education (number)'
 'Africa Dataset: Average number of pupils per mathematics textbook in Grade 2 of primary education (number)'
 'Africa Dataset: Average number of pupils per mathematics textbook in Grade 3 of primary education (number)'
 'Africa Dataset: Average number of pupils per mathematics textbook in Grade 4 of primary education (number)'
 'Africa Dataset: Average number of pupils per mathematics textbook in Grade 5 of primary education (number)']

In [11]:
primary = ed[ed["Indicator Name"]=="Adjusted net enrolment rate, primary, gender parity index (GPI)"]

tidy_primary = pd.melt(primary, id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'],
                  var_name='Year', value_name='Value')
tidy_primary = tidy_primary.dropna()

year_unique = tidy_primary['Year'].unique()
print(tidy_primary.head())
print(tidy_primary.shape)
print(year_unique)

                                         Country Name Country Code  \
0                                          Arab World          ARB
3                                           Euro area          EMU
6                                      European Union          EUU
9                           Latin America & Caribbean          LCN
10  Latin America & Caribbean (excluding high income)          LAC

                                       Indicator Name  Indicator Code  Year  \
0   Adjusted net enrolment rate, primary, gender p...  UIS.NERA.1.GPI  1970
3   Adjusted net enrolment rate, primary, gender p...  UIS.NERA.1.GPI  1970
6   Adjusted net enrolment rate, primary, gender p...  UIS.NERA.1.GPI  1970
9   Adjusted net enrolment rate, primary, gender p...  UIS.NERA.1.GPI  1970
10  Adjusted net enrolment rate, primary, gender p...  UIS.NERA.1.GPI  1970

      Value
0   0.65857
3   1.01033
6   1.00630
9   0.98917
10  0.98845
(4165, 6)
['1970' '1971' '1972' '1973' '1974' '1975' '1976' '1977' '1978' '1979'
 '1980' '1981' '1982' '1983' '1984' '1985' '1986' '1987' '1988' '1989'
 '1990' '1991' '1992' '1993' '1994' '1995' '1996' '1997' '1998' '1999'
 '2000' '2001' '2002' '2003' '2004' '2005' '2006' '2007' '2008' '2009'
 '2010' '2011' '2012' '2013' '2014' '2015']

In [12]:
# function to tidy data
variable = ""
def convert_to_tidy(df, variable):
    # Filter the DataFrame for the desired indicator
    ed_level = df[df["Indicator Name"] == variable]
    
    # Melt the filtered DataFrame
    tidy_ed_level = pd.melt(ed_level, id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'],
                           var_name='Year', value_name='Value')
    
    # Drop rows with NA values
    tidy_ed_level = tidy_ed_level.dropna()
    
    # Get unique years
    year_unique = tidy_ed_level['Year'].unique()
    
    # Print the head, shape, and unique years
    print(tidy_ed_level.head())
    print(tidy_ed_level.shape)
    print(year_unique)

    return(tidy_ed_level)

lower_second = "Adjusted net enrolment rate, lower secondary, gender parity index (GPI)"
lower_second = convert_to_tidy(ed, lower_second)

    Country Name Country Code  \
71    Costa Rica          CRI
178         Peru          PER
269      Algeria          DZA
292     Botswana          BWA
301     Cameroon          CMR

                                        Indicator Name  Indicator Code  Year  \
71   Adjusted net enrolment rate, lower secondary, ...  UIS.NERA.2.GPI  1970
178  Adjusted net enrolment rate, lower secondary, ...  UIS.NERA.2.GPI  1970
269  Adjusted net enrolment rate, lower secondary, ...  UIS.NERA.2.GPI  1971
292  Adjusted net enrolment rate, lower secondary, ...  UIS.NERA.2.GPI  1971
301  Adjusted net enrolment rate, lower secondary, ...  UIS.NERA.2.GPI  1971

       Value
71   1.07246
178  0.83623
269  0.45049
292  1.25097
301  0.46995
(2248, 6)
['1970' '1971' '1972' '1973' '1974' '1975' '1976' '1977' '1978' '1979'
 '1980' '1981' '1982' '1983' '1984' '1985' '1986' '1987' '1988' '1989'
 '1990' '1991' '1992' '1993' '1994' '1995' '1996' '1997' '1998' '1999'
 '2000' '2001' '2002' '2003' '2004' '2005' '2006' '2007' '2008' '2009'
 '2010' '2011' '2012' '2013' '2014' '2015']

In [13]:
lower_second_year = lower_second.groupby(['Year']).size().reset_index(name='Count')

print(lower_second_year)

    Year  Count
0   1970      2
1   1971     24
2   1972     24
3   1973     22
4   1974     24
5   1975     20
6   1976     22
7   1977     27
8   1978     26
9   1979     26
10  1980     21
11  1981     26
12  1982     23
13  1983     23
14  1984     25
15  1985     24
16  1986     26
17  1987     20
18  1988     15
19  1989     21
20  1990     17
21  1991     22
22  1992     24
23  1993     27
24  1994     32
25  1995     27
26  1996     26
27  1997     27
28  1998     40
29  1999     93
30  2000     93
31  2001     95
32  2002     96
33  2003     89
34  2004     97
35  2005    101
36  2006     95
37  2007    101
38  2008    100
39  2009    110
40  2010    103
41  2011    106
42  2012    101
43  2013     98
44  2014     84
45  2015      3

In [14]:
upper_second = "Adjusted net enrolment rate, upper secondary, gender parity index (GPI)"
upper_second = convert_to_tidy(ed, upper_second)

     Country Name Country Code  \
6816   Bangladesh          BGD
6826     Botswana          BWA
6927    Mauritius          MUS
6937      Namibia          NAM
6969   Seychelles          SYC

                                         Indicator Name  Indicator Code  Year  \
6816  Adjusted net enrolment rate, upper secondary, ...  UIS.NERA.3.GPI  1998
6826  Adjusted net enrolment rate, upper secondary, ...  UIS.NERA.3.GPI  1998
6927  Adjusted net enrolment rate, upper secondary, ...  UIS.NERA.3.GPI  1998
6937  Adjusted net enrolment rate, upper secondary, ...  UIS.NERA.3.GPI  1998
6969  Adjusted net enrolment rate, upper secondary, ...  UIS.NERA.3.GPI  1998

        Value
6816  0.77071
6826  1.18897
6927  1.06956
6937  1.14605
6969  0.99657
(761, 6)
['1998' '1999' '2000' '2001' '2002' '2003' '2004' '2005' '2006' '2007'
 '2008' '2009' '2010' '2011' '2012' '2013' '2014' '2015']

In [15]:
adult_literacy = "Adult literacy rate, population 15+ years, gender parity index (GPI)"
adult_literacy = convert_to_tidy(ed, adult_literacy)

                        Country Name Country Code  \
41                          Barbados          BRB
102                          Grenada          GRD
208   St. Vincent and the Grenadines          VCT
1265                    Burkina Faso          BFA
1272        Central African Republic          CAF

                                         Indicator Name      Indicator Code  \
41    Adult literacy rate, population 15+ years, gen...  UIS.LR.AG15T99.GPI
102   Adult literacy rate, population 15+ years, gen...  UIS.LR.AG15T99.GPI
208   Adult literacy rate, population 15+ years, gen...  UIS.LR.AG15T99.GPI
1265  Adult literacy rate, population 15+ years, gen...  UIS.LR.AG15T99.GPI
1272  Adult literacy rate, population 15+ years, gen...  UIS.LR.AG15T99.GPI

      Year    Value
41    1970  0.99964
102   1970  0.99534
208   1970  0.99687
1265  1975  0.21907
1272  1975  0.28384
(1309, 6)
['1970' '1975' '1976' '1977' '1978' '1979' '1980' '1981' '1982' '1983'
 '1984' '1985' '1986' '1987' '1988' '1989' '1990' '1991' '1992' '1993'
 '1994' '1995' '1996' '1997' '1998' '1999' '2000' '2001' '2002' '2003'
 '2004' '2005' '2006' '2007' '2008' '2009' '2010' '2011' '2012' '2013'
 '2014' '2015' '2016']

In [16]:
countries = ed['Country Name'].nunique()
print(countries)

242