---
title: ""
author: ""
draft: true
---

In [117]:
import pandas as pd
import numpy as np

In [118]:
df=pd.read_csv('sheeba_df_1.csv')
df.head(10)

,Country Name,Region,numeric_region,2014 (GDP per capita (current US$)),"2014 (GNI per capita, Atlas method (current US$))","2014 (Gross enrolment ratio, primary and secondary, female (%))",Income group,numeric_income
0,Lao PDR,East Asia & Pacific,4,2017.587781,1840.0,0.377251,Lower middle income,1
1,Brunei Darussalam,East Asia & Pacific,4,41530.668979,42930.0,0.619644,High income,3
2,Timor-Leste,East Asia & Pacific,4,1196.061391,2840.0,0.667932,Lower middle income,1
3,Indonesia,East Asia & Pacific,4,3491.595887,3620.0,0.524193,Upper middle income,2
4,China,East Asia & Pacific,4,7683.502613,7520.0,0.587417,Upper middle income,2
5,Tonga,East Asia & Pacific,4,4196.470593,4360.0,0.598186,Upper middle income,2
6,New Zealand,East Asia & Pacific,4,44503.246733,41530.0,0.697885,High income,3
7,Switzerland,Europe & Central Asia,2,86605.563376,86200.0,0.594996,High income,3
8,Sweden,Europe & Central Asia,2,59180.198978,61030.0,0.926327,High income,3
9,Hungary,Europe & Central Asia,2,14201.448832,13460.0,0.642934,High income,3

In [119]:
df.rename(columns={
    'Country Name': 'country',
    'Region': 'region',
    'numeric_region': 'numeric_region',
    '2014 (GDP per capita (current US$))': 'gdp_per_capita',
    '2014 (GNI per capita, Atlas method (current US$))': 'gni_per_capita',
    '2014 (Gross enrolment ratio, primary and secondary, female (%))': 'enrolment_ratio_female',
    'Income group': 'income_group',
    'numeric_income': 'numeric_income'
}, inplace=True)
print(df)

              country               region  numeric_region  gdp_per_capita  \
0             Lao PDR  East Asia & Pacific               4     2017.587781
1   Brunei Darussalam  East Asia & Pacific               4    41530.668979
2         Timor-Leste  East Asia & Pacific               4     1196.061391
3           Indonesia  East Asia & Pacific               4     3491.595887
4               China  East Asia & Pacific               4     7683.502613
..                ...                  ...             ...             ...
64          Mauritius   Sub-Saharan Africa               5    10153.938218
65         Mauritania   Sub-Saharan Africa               5     1326.668654
66       South Africa   Sub-Saharan Africa               5     6484.584983
67             Malawi   Sub-Saharan Africa               5      354.725396
68            Lesotho   Sub-Saharan Africa               5     1218.466106

    gni_per_capita  enrolment_ratio_female         income_group  \
0           1840.0                0.377251  Lower middle income
1          42930.0                0.619644          High income
2           2840.0                0.667932  Lower middle income
3           3620.0                0.524193  Upper middle income
4           7520.0                0.587417  Upper middle income
..             ...                     ...                  ...
64          9790.0                0.601460  Upper middle income
65          1380.0                0.232289  Lower middle income
66          6800.0                0.590075  Upper middle income
67           350.0                0.567676           Low income
68          1380.0                0.454779  Lower middle income

    numeric_income
0                1
1                3
2                1
3                2
4                2
..             ...
64               2
65               1
66               2
67               0
68               1

[69 rows x 8 columns]

In [120]:
df.columns

Index(['country', 'region', 'numeric_region', 'gdp_per_capita',
       'gni_per_capita', 'enrolment_ratio_female', 'income_group',
       'numeric_income'],
      dtype='object')

In [121]:
df.drop(columns=['numeric_region', 'numeric_income' ], inplace=True)
df.head(10)
df = df.round(2)

In [122]:
df.columns

Index(['country', 'region', 'gdp_per_capita', 'gni_per_capita',
       'enrolment_ratio_female', 'income_group'],
      dtype='object')

In [123]:
column_mapping = {
    'gdp_per_capita': 'GDP per capita (USD)',
    'gni_per_capita': 'GNI per capita (USD)',
    'enrolment_ratio_female': 'Female enrolment ratio',
    'income_group': 'Income group',
    'region': 'Region',
    'country': 'Country'
}

# Rename columns using the mapping dictionary
df = df.rename(columns=column_mapping)

In [124]:
df.columns

Index(['Country', 'Region', 'GDP per capita (USD)', 'GNI per capita (USD)',
       'Female enrolment ratio', 'Income group'],
      dtype='object')

In [125]:
df.to_csv('sheeba_df.csv')