In [2]:
import pandas as pd
import numpy as np

In [97]:
df = pd.read_csv('../data/final.csv')
print(df.head())
print(df.shape)

                                         Series Name        Series Code  \
0  Government expenditure on education, total (% ...  SE.XPD.TOTL.GD.ZS
1  Government expenditure on education, total (% ...  SE.XPD.TOTL.GD.ZS
2  Government expenditure on education, total (% ...  SE.XPD.TOTL.GD.ZS
3  Government expenditure on education, total (% ...  SE.XPD.TOTL.GD.ZS
4  Government expenditure on education, total (% ...  SE.XPD.TOTL.GD.ZS

                     Country Name Country Code     2004 [YR2004]  \
0     Africa Eastern and Southern          AFE  3.74496006965637
1      Africa Western and Central          AFW  2.42760503292084
2                      Arab World          ARB  5.02110004425048
3          Caribbean small states          CSS  3.91254997253418
4  Central Europe and the Baltics          CEB  4.83406019210815

      2005 [YR2005]     2006 [YR2006]     2007 [YR2007]     2008 [YR2008]  \
0  4.00578022003174  3.87146997451782                ..  4.28008008003235
1  2.65659999847412  2.55852007865906  2.73747003078461  2.49827003479004
2                ..  3.93055999279022                ..  4.33701992034912
3  4.61641979217529                ..  5.49022006988525  6.19131994247437
4  4.81026983261108  4.82572984695435  4.59521007537842  4.83990001678467

      2009 [YR2009]  ...     2014 [YR2014]     2015 [YR2015]  \
0                ..  ...   4.7172999382019  4.74350023269653
1  2.90790009498596  ...  2.91422998905181  3.19542145729065
2                ..  ...                ..                ..
3  6.19848012924194  ...  4.29359543323516  4.30185985565185
4  4.94636011123657  ...  4.48657989501953  4.81700992584229

      2016 [YR2016]     2017 [YR2017]     2018 [YR2018]     2019 [YR2019]  \
0  4.69199991226196  4.82044506072998  4.73974990844727  4.54195022583008
1  2.89910006523132  3.53558993339539  3.07154297828674  3.10023534297943
2                ..                ..                ..                ..
3  4.54088020324707  4.28120589256287  4.31529986858368  4.38114428520202
4  4.65749979019165  4.07527017593384  4.24356985092163  4.27319002151489

      2020 [YR2020]     2021 [YR2021]     2022 [YR2022] 2023 [YR2023]
0  4.35243988037109  4.63225483894348  3.90622544288635            ..
1  3.40395033359527   3.2829704284668  2.92844331264496            ..
2                ..                ..                ..            ..
3  4.91213750839233  4.32000994682312  4.07994532585144            ..
4  4.72159004211426  5.00158405303955                ..            ..

[5 rows x 24 columns]
(677, 24)

In [98]:
print(df['Series Name'].unique())

['Government expenditure on education, total (% of GDP)'
 'Government expenditure per student, secondary (% of GDP per capita)'
 'Government expenditure per student, primary (% of GDP per capita)'
 'Literacy rate, adult male (% of males ages 15 and above)'
 'Literacy rate, adult total (% of people ages 15 and above)'
 'Literacy rate, adult female (% of females ages 15 and above)'
 'Literacy rate, youth female (% of females ages 15-24)'
 'Literacy rate, youth total (% of people ages 15-24)'
 'Literacy rate, youth (ages 15-24), gender parity index (GPI)'
 'Literacy rate, youth male (% of males ages 15-24)'
 'Youth illiterate population, 15-24 years, female (number)'
 'Youth illiterate population, 15-24 years, male (number)'
 'Youth illiterate population, 15-24 years, both sexes (number)'
 'GDP per capita (constant 2010 US$)' nan
 'Data from database: Gender Statistics' 'Last Updated: 04/15/2024']

In [99]:
# Unpivot the data
tidy_df = pd.melt(df, id_vars=['Series Name', 'Series Code',
                                    'Country Name', 'Country Code'], 
                                    var_name='Year', value_name='Value')

# Print the unpivoted data
print(tidy_df)

                                             Series Name        Series Code  \
0      Government expenditure on education, total (% ...  SE.XPD.TOTL.GD.ZS
1      Government expenditure on education, total (% ...  SE.XPD.TOTL.GD.ZS
2      Government expenditure on education, total (% ...  SE.XPD.TOTL.GD.ZS
3      Government expenditure on education, total (% ...  SE.XPD.TOTL.GD.ZS
4      Government expenditure on education, total (% ...  SE.XPD.TOTL.GD.ZS
...                                                  ...                ...
13535                                                NaN                NaN
13536                                                NaN                NaN
13537                                                NaN                NaN
13538              Data from database: Gender Statistics                NaN
13539                           Last Updated: 04/15/2024                NaN

                         Country Name Country Code           Year  \
0         Africa Eastern and Southern          AFE  2004 [YR2004]
1          Africa Western and Central          AFW  2004 [YR2004]
2                          Arab World          ARB  2004 [YR2004]
3              Caribbean small states          CSS  2004 [YR2004]
4      Central Europe and the Baltics          CEB  2004 [YR2004]
...                               ...          ...            ...
13535                             NaN          NaN  2023 [YR2023]
13536                             NaN          NaN  2023 [YR2023]
13537                             NaN          NaN  2023 [YR2023]
13538                             NaN          NaN  2023 [YR2023]
13539                             NaN          NaN  2023 [YR2023]

                  Value
0      3.74496006965637
1      2.42760503292084
2      5.02110004425048
3      3.91254997253418
4      4.83406019210815
...                 ...
13535               NaN
13536               NaN
13537               NaN
13538               NaN
13539               NaN

[13540 rows x 6 columns]

In [100]:
tidy_df = tidy_df.dropna()

# clean year column
tidy_df['Year'] = tidy_df['Year'].str.replace(r'\s*\[YR\d+\]\s*', '', regex=True)

# change value to number
tidy_df['Value'] = pd.to_numeric(tidy_df['Value'], errors='coerce')

# drop na
tidy_df = tidy_df.dropna()

# drop Series Code column
tidy_df = tidy_df.drop(columns=['Series Code'])

print(tidy_df.head())
print(tidy_df.shape)

                                         Series Name  \
0  Government expenditure on education, total (% ...
1  Government expenditure on education, total (% ...
2  Government expenditure on education, total (% ...
3  Government expenditure on education, total (% ...
4  Government expenditure on education, total (% ...

                     Country Name Country Code  Year     Value
0     Africa Eastern and Southern          AFE  2004  3.744960
1      Africa Western and Central          AFW  2004  2.427605
2                      Arab World          ARB  2004  5.021100
3          Caribbean small states          CSS  2004  3.912550
4  Central Europe and the Baltics          CEB  2004  4.834060
(9394, 5)

In [101]:
tidy_df.to_csv('../data/tidy_data.csv', index=False)

In [40]:
govt_spend_primary = tidy_df[tidy_df['Series Name']=="Government expenditure per student, primary (% of GDP per capita)"]
# Rename columns for OJS readability
govt_spend_primary = govt_spend_primary.rename(columns={'Series Name': 'series_name', 'Country Name': 'country_name', 
                        'Country Code': 'country_code', 'Year': 'year', 'Value': 'value' })
govt_spend_primary.to_csv('../data/govt_spend_primary.csv', index=False)

NameError: name 'tidy_df' is not defined

In [41]:
column_range =  govt_spend_primary['value'].max() - govt_spend_primary['value'].min()

print("Range of column '{}': {}".format("value", column_range))

NameError: name 'govt_spend_primary' is not defined

In [43]:
grads = pd.read_csv('../../../cleaned_data/female_graduates.csv')


grads = grads[grads['Indicator Name']=="Percentage of graduates from tertiary education who are female (%)"]
grads = grads[['Country Name', '2014']]
grads = grads.rename(columns={'2014': 'Percentage of Graduates'})
print(grads.head())
print(grads.shape)

   Country Name  Percentage of Graduates
1   Afghanistan                18.305571
4       Albania                65.773697
6       Algeria                63.269680
10      Andorra                63.888889
11    Argentina                64.863564
(102, 2)

In [44]:
gdp = pd.read_csv('../../../cleaned_data/gdp_2014.csv')

print(gdp.head())
print(gdp.shape)
print(gdp['Indicator Name'].unique())

                                    Country Name Country Code  \
0                            East Asia & Pacific          EAS
1    East Asia & Pacific (excluding high income)          EAP
2                                      Euro area          EMU
3                          Europe & Central Asia          ECS
4  Europe & Central Asia (excluding high income)          ECA

                 Indicator Name  Indicator Code          2014
0  GDP per capita (current US$)  NY.GDP.PCAP.CD   9665.056079
1  GDP per capita (current US$)  NY.GDP.PCAP.CD   6307.578998
2  GDP per capita (current US$)  NY.GDP.PCAP.CD  39820.585020
3  GDP per capita (current US$)  NY.GDP.PCAP.CD  26192.934770
4  GDP per capita (current US$)  NY.GDP.PCAP.CD   9887.848051
(219, 5)
['GDP per capita (current US$)']

In [45]:
gdp = gdp[['Country Name', '2014']]
gdp = gdp.rename(columns={'2014': 'GDP per capita (current US$)'})

grad_gdp = pd.merge(gdp, grads, on='Country Name', how='inner')
print(grad_gdp.head())
print(grad_gdp.shape)
grad_gdp.to_csv('../../data/grad_gdp.csv', index=False)

  Country Name  GDP per capita (current US$)  Percentage of Graduates
0  Afghanistan                    612.069651                18.305571
1      Albania                   4578.666728                65.773697
2      Algeria                   5466.425778                63.269680
3      Andorra                  42294.994730                63.888889
4    Argentina                  12245.256450                64.863564
(96, 3)